.Overlay-BadgeImage{
    display: none;
}
.mySwiper {
    min-width: 100px;
    min-height: 120px;
    margin-bottom: 50px;
  }
  .mySwiper .swiper-slide {
    min-width: 100px;
  }
.mySwiper .swiper-slide-thumb-active {
    max-width: 100px;
    min-height: 90px;
  }
  .hotel_img{
    min-width: 95% !important;
    max-width: 95% !important;
    max-height: 70%;
    min-height: 70%;
    margin-bottom: 10px;
  }